
.user-header{
   background-color:#007399;
}


input[type=text],select,option {
  
 /* border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
     */
}
    
    
.content-header {
    position: relative;
    margin-top: -40px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 20px;
    border-top-left-radius: 5px;
    padding: 11px 20px 22px;
    border-bottom: 1px solid rgb(17, 82, 147);
}
    
.content-header { 
	background: whitesmoke; 
}
	    
.content-header>h1{
	margin:0;
	font-size:24px
}
	
.content-header>h1>small{
	font-size:15px;
	display:inline-block;
	padding-left:4px;
	font-weight:300
}
	
.content-header>.breadcrumb {
	float: left;
    margin-top: -1rem;
    margin-bottom: 0px;
    font-size: 12px;
    top: 15px;
    right: 10px;
    background: transparent;
    padding: 16px 0px;
    border-radius: 2px;
}
	
.content-header>.breadcrumb>li>a{
	color:#007bff;
	text-decoration:none;
	display:left;
}
	
.content-header>.breadcrumb>li>a>.fa,.content-header>.breadcrumb>li>a>.glyphicon,.content-header>.breadcrumb>li>a>.ion{
	margin-right:5px
}
	
.content-header>.breadcrumb>li+li:before{ 
  color: black;
  content: ">";
}
  
 @media (max-width:991px){
 
 			.content-header>.breadcrumb{
 				position:relative;
 				margin-top:5px;
 				top:0;
 				right:0;
 				float:left;
 				background:bla;
 				padding-left:10px
 				}
 				
			.content-header>.breadcrumb li:before{
				color:#97a0b3
				}
}
    
.navbar a:hover  {
    	display: block;
}
    
.dropdown-container {
  		position: relative;
}

.navbar .dropdown-menu-right { 
	    right: 0; 
	    left: auto; 
}

/* .dropdown-menu1 {
background-color:#007399;
  position: absolute;
  top: 100%;
  right: 0;
  margin-left: 1000px; 
} 
   */ 
    
     /* .label{
     margin-bottom: -50%;
     } */
       
       
.onoff {
  margin-left: -27px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  cursor: pointer;
  width: 55px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.onoff label {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: #cd3c3c;
  border-radius: 5px;
  font-weight: bold;
  color: #FFF;
  -webkit-transition: background 0.3s, text-indent 0.3s;
  -moz-transition: background 0.3s, text-indent 0.3s;
  -o-transition: background 0.3s, text-indent 0.3s;
  transition: background 0.3s, text-indent 0.3s;
  text-indent: 27px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
}

.onoff label:after {
  content: 'NO';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  font-size: 12px;
  color: #591717;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
  z-index: 1;
}
	
.onoff label:before {
  content: '';
  width: 15px;
  height: 24px;
  border-radius: 3px;
  background: #FFF;
  position: absolute;
  z-index: 2;
  top: 3px;
  left: 3px;
  display: block;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}
	
.onoff input:checked + label {
  background: #378b2c;
  text-indent: 8px;
}
	
.onoff input:checked + label:after {
  content: 'YES';
  color: #091707;
}
	
.onoff input:checked + label:before {
  left: 37px;
} 	


.btn-warning{
        background-color:  #f0ad4e;
} 
.btn-danger{
        background-color:  #d9534f; 
} 
.btn-primary{
         background-color: #337ab7;
}  
.btn-primary:hover{
         background-color: #1a5c93;
}
         
        
        /* #breadcrumb{
         margin-top: -38px;
         margin-left: -20px;
         margin-right: -22px;
         }   */
         .dropdown-menu{
       /*   margin-left: -200%; */
      
       
         }

.alert{   
     width: 500px;
}    
         
.table thead tr th{
	vertical-align:middle;
	text-align: center;  
	font-size: 15px; 
	white-space: nowrap;
}

.table tbody tr td{
	vertical-align:middle;
	text-align: center;  
	font-size: 13px; 
	white-space: nowrap;
}  
    
/* .form-control {
  width: 80% ;
  height:50% ;  
  box-sizing: border-box;
}  */
     
body {
    font-family: 'Poppins', sans-serif;
    background: #fff;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
   /*  color: #999; */
}


a,a:hover,a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* .card-header{
background-color: #139ca3;
color: white;
}
.card-footer{
background-color: ##253b80;
} */


.navbar {
 	padding: 3px 5px; 
    background: #115293; 
    border: none;
    border-radius: 0;
    margin-bottom: 25px; 
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    margin-left: -20px;
    margin-top: -20px;
    margin-right: -20px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
	
.nav-item{
	padding-right: 20px;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 160px;
    max-width: 160px;
   background: #115293; 
    color: #fff;
    transition: all 0.1s;
}

#sidebar.active {
    min-width: 90px;
    max-width: 90px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
   padding: 20px 10px; 
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 13px 0px 15px 20px;
    background:#115293;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 27px 0px;
    /* border-bottom: 1px solid #47748b; */
}

#sidebar ul li a {
    padding: 10px 10px 10px 20px;
	font-size: 1em;
	display: block;
	font-weight: lighter;
	border-bottom: .01rem solid #f3f3f3;
}

#sidebar ul li a:hover {
    color: #139ca3;
    background: #f5f7f7;
}

#sidebar ul li a i {
    margin-right: 10px; 
}

#sidebar ul li.active>a,a[aria-expanded="true"] {
    color: #fff;
    background: #005a96;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #139ca3;
} */

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    
    #sidebar.active {
        margin-left: 0 !important;
    }
    
    #sidebar .sidebar-header h3,  #sidebar .CTAs {
        display: none;
    }
    
    #sidebar .sidebar-header strong {
        display: block;
    }
    
    #sidebar ul li a {
        padding: 20px 10px;
    }
    
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    
    #sidebar ul ul a {
        padding: 10px !important;
    }
    
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    
    #sidebar {
        margin-left: 0;
        margin-right: 0;
    }
    
    #sidebarCollapse span {
        display: none;
       
    }
}

.my-custom-scrollbar {
position: relative;
height: 200px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}
        
     
body{    
	background-repeat: no-repeat;
	height: 100%;
	background-size: cover;
}
  
.navbar-default .dropdown-menu.notify-drop {
	  min-width: 330px;
	  background-color: #fff;
	  min-height: 360px;
	  max-height: 360px;
}

.navbar-default .dropdown-menu.notify-drop .notify-drop-title {
	  border-bottom: 1px solid #e2e2e2;
	  padding: 5px 15px 10px 15px;
}

.navbar-default .dropdown-menu.notify-drop .drop-content {
	  min-height: 280px;
	  max-height: 280px;
	  overflow-y: scroll;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track{
  background-color: #F5F5F5;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar{
  width: 8px;
  background-color: #F5F5F5;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb{
  background-color: #ccc;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li {
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0px 5px 0px;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li:nth-child(2n+0) {
  background-color: #fafafa;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li:after {
  content: "";
  clear: both;
  display: block;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li:hover {
  background-color: #fcfcfc;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li:last-child {
  border-bottom: none;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li .notify-img {
  float: left;
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0px 0px 8px 0px;
}

.navbar-default .dropdown-menu.notify-drop .allRead {
  margin-right: 7px;
}

.navbar-default .dropdown-menu.notify-drop .rIcon {
  float: right;
  color: #999;
}

.navbar-default .dropdown-menu.notify-drop .rIcon:hover {
  color: #333;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li a {
  font-size: 12px;
  font-weight: normal;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li {
  font-weight: bold;
  font-size: 11px;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li hr {
  margin: 5px 0;
  width: 70%;
  border-color: #e2e2e2;
}

.navbar-default .dropdown-menu.notify-drop .drop-content .pd-l0 {
  padding-left: 0;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li p {
  font-size: 11px;
  color: #666;
  font-weight: normal;
  margin: 3px 0;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li p.time {
  font-size: 10px;
  font-weight: 600;
  top: -6px;
  margin: 8px 0px 0px 0px;
  padding: 0px 3px;
  border: 1px solid #e2e2e2;
  position: relative;
  background-image: linear-gradient(#fff,#f2f2f2);
  display: inline-block;
  border-radius: 2px;
  color: #B97745;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li p.time:hover {
  background-image: linear-gradient(#fff,#fff);
}

.navbar-default .dropdown-menu.notify-drop .notify-drop-footer {
  border-top: 1px solid #e2e2e2;
  bottom: 0;
  position: relative;
  padding: 8px 15px;
}

.navbar-default .dropdown-menu.notify-drop .notify-drop-footer a {
  color: #777;
  text-decoration: none;
}

.navbar-default .dropdown-menu.notify-drop .notify-drop-footer a:hover {
  color: #333;
}

li{
	list-style-type:none;
}

.btn-light{
	border-color: #e3dede;
}

body{
	background-color: #f7f7f7 !important; 
}

.shadow-nohover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}

.sidebartoggleex{

   animation: shadow-pulse 1s infinite;
}


.vertical-divider {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  width: auto;
  height: 50%;
  line-height: 0;
  text-align:center;
  text-transform: uppercase;
  transform: translateX(-50%);
}

.vertical-divider:before, .vertical-divider:after {
  position: absolute;
  left: 50%;
  content: '';
  z-index: 9;
  border-left: 1px solid rgba(34,36,38,.15);
  border-right: 1px solid rgba(255,255,255,.1);
  width: 0;
  height: calc(100% - 1rem);
}




