@charset "ISO-8859-1";


p {
	text-align: justify;
	text-justify: inter-word;
}

th {
	border: 1px solid black;
	text-align: center;
	padding: 5px;
	overflow-wrap: break-word;
}

td {
	border: 1px solid black;
	text-align: left;
	padding: 5px;
	overflow-wrap: break-word;
}




.containers {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}


.flex-container {
	display: flex;
	flex-direction: column;
	min-height: 85vh;
}

.anchorlink {
	cursor: pointer;
	color: #C84B31;
}

.anchorlink:hover {
	text-decoration: underline;
}


.completed {
	color: green;
	font-weight: 700;
}

.briefactive {
	color: blue;
	font-weight: 700;
}

.inprogress {
	color: #F66B0E;
	font-weight: 700;
}

.assigned {
	color: brown;
	font-weight: 700;
}

.notyet {
	color: purple;
	font-weight: 700;
}

.notassign {
	color: #AB0072;
	font-weight: 700;
}

.ongoing {
	color: #F66B0E;
	font-weight: 700;
}

.completed {
	color: green;
	font-weight: 700;
}

.delay {
	color: maroon;
	font-weight: 700;
}

.completeddelay {
	color: #BABD42;
	font-weight: 700;
}

.inactive {
	color: red;
	font-weight: 700;
}

.delaydays {
	color: #000000;
	font-weight: 700;
}

.select2-container {
	float: right !important;
	margin-top: 5px;
}

.modal-xl {
	max-width: 1400px;
}

.sub-title {
	font-size: 20px !important;
	color: #145374 !important
}

.subtables {
	/* width: 1100px !important; */
	width:95%;
}

.date-column {
	max-width: 60px !important;
}

.status-column {
	max-width: 10px !important;
}

.resp-column {
	max-width: 80px !important;
}

.currency {
	color: #367E18 !important;
	font-style: italic;
}

.subtables th {
	/* background-color: #001253 !important; 
	color: white !important;
	border-color: white; */
	color: #001253 !important;
	
}

.mainsubtitle {
	font-size: 18px !important;
	color: #882042 !important;
	font-weight: 600;
}


.home-table th,.home-table td
{
	border:0px;
}



.content::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	
}

.content::-webkit-scrollbar-track {
	border-radius: 5px;
	background-color: #e4e4e4;
	margin-top: 6px;
	margin-bottom : 6px; 
}

.content::-webkit-scrollbar-thumb {
	background: #212121;
	border-radius: 5px;
	transition: 0.5s;
	
}

.content::-webkit-scrollbar-thumb:hover {
	background: #d5b14c;
	transition: 0.5s;
	
}

.carousel-item {
	width: 95%;
	margin-top: 5px;
}

.carousel-indicators {
	bottom: -35px;
	margin: 5px;
}

.carousel-indicators li {
	background-color: #002CCD;;
	height: 1.5rem;
	text-indent: 0px;
	width: 55px;
	text-align: center;
	color: #FFFFFF;
	font-size: 13px;
	cursor: pointer;
	border-radius: 3px;
    padding-top: 1px;
}

.carousel-indicators .active {
	background-color:maroon;
	
}

.content-header {
	padding: 5px 0px;
	background: maroon;
	margin: 0px 0px 10px 0px;
	border-radius: 5px;
	color: white;
}

.content {
	padding: 0px 10px;
	overflow: auto;
	height: 85vh;
	border: 2px solid black;
    border-radius: 15px;
    
}

.carousel-item {
	/* border: 1px solid grey;	 */
	border-radius: 5px;
}

:fullscreen, ::backdrop {
	background-color: rgba(255, 255, 255, 0);
}
