.bs-example {
	margin: 20px;
}

.accordion .fa {
	margin-right: 0.5rem;
}



label {
	font-weight: bold;
	font-size: 13px;
}

.note-editable {
	line-height: 1.0;
}

.panel-info {
	border-color: #bce8f1;
}

.panel {
	margin-bottom: 10px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-heading {
	background-color: #FFF !important;
	border-color: #bce8f1 !important;
	border-bottom: 2px solid #466BA2 !important;
	color: #1d5987;
}

.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 13px;
	color: inherit;
	font-weight: bold;
}

.panel-info>.panel-heading {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div {
	display: block;
}

element.style {
	
}

.olre-body .panel-info .panel-heading {
	background-color: #FFF !important;
	border-color: #bce8f1 !important;
	border-bottom: 2px solid #466BA2 !important;
}

.panel-info>.panel-heading {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.panel-info>.panel-heading {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.panel-info>.panel-heading {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.panel-info>.panel-heading {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.panel-info>.panel-heading {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.panel-info>.panel-heading {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.panel-heading {
	padding: 3px 10px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.panel-heading {
	padding: 3px 10px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.panel-heading {
	padding: 3px 10px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.panel-heading {
	padding: 3px 10px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.panel-heading {
	padding: 3px 10px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.p-5 {
	padding: 5px;
}

.panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

user agent stylesheet
div {
	display: block;
}

.panel-info {
	border-color: #bce8f1;
	
}

.form-check {
	margin: 0px 4%;
}

.select2-container {
    width: 100% !important; /* Force full width */
}

.card1{
	border-color: #00DADA; margin-top: -1%; margin-bottom: 50px;
}

.cardBody1{
	margin-top: -18px
}

.font14{
	font-size: 14px
}

.divFloat1{
	float: right !important; margin-top: -23px;
}

.mandatory{
	color:red;
}

.float-right{
	float: right;
}

.floatXp{
	float: right; margin-top : 6px;
}


.fontStr{font-weight: 600; font-size: 14px;}


.width-0 { width: 0%; }
.width-1 { width: 1%; }
.width-2 { width: 2%; }
.width-3 { width: 3%; }
.width-4 { width: 4%; }
.width-5 { width: 5%; }
.width-6 { width: 6%; }
.width-7 { width: 7%; }
.width-8 { width: 8%; }
.width-9 { width: 9%; }
.width-10 { width: 10%; }
.width-11 { width: 11%; }
.width-12 { width: 12%; }
.width-13 { width: 13%; }
.width-14 { width: 14%; }
.width-15 { width: 15%; }
.width-16 { width: 16%; }
.width-17 { width: 17%; }
.width-18 { width: 18%; }
.width-19 { width: 19%; }
.width-20 { width: 20%; }
.width-21 { width: 21%; }
.width-22 { width: 22%; }
.width-23 { width: 23%; }
.width-24 { width: 24%; }
.width-25 { width: 25%; }
.width-26 { width: 26%; }
.width-27 { width: 27%; }
.width-28 { width: 28%; }
.width-29 { width: 29%; }
.width-30 { width: 30%; }
.width-31 { width: 31%; }
.width-32 { width: 32%; }
.width-33 { width: 33%; }
.width-34 { width: 34%; }
.width-35 { width: 35%; }
.width-36 { width: 36%; }
.width-37 { width: 37%; }
.width-38 { width: 38%; }
.width-39 { width: 39%; }
.width-40 { width: 40%; }
.width-41 { width: 41%; }
.width-42 { width: 42%; }
.width-43 { width: 43%; }
.width-44 { width: 44%; }
.width-45 { width: 45%; }
.width-46 { width: 46%; }
.width-47 { width: 47%; }
.width-48 { width: 48%; }
.width-49 { width: 49%; }
.width-50 { width: 50%; }
.width-51 { width: 51%; }
.width-52 { width: 52%; }
.width-53 { width: 53%; }
.width-54 { width: 54%; }
.width-55 { width: 55%; }
.width-56 { width: 56%; }
.width-57 { width: 57%; }
.width-58 { width: 58%; }
.width-59 { width: 59%; }
.width-60 { width: 60%; }
.width-61 { width: 61%; }
.width-62 { width: 62%; }
.width-63 { width: 63%; }
.width-64 { width: 64%; }
.width-65 { width: 65%; }
.width-66 { width: 66%; }
.width-67 { width: 67%; }
.width-68 { width: 68%; }
.width-69 { width: 69%; }
.width-70 { width: 70%; }
.width-71 { width: 71%; }
.width-72 { width: 72%; }
.width-73 { width: 73%; }
.width-74 { width: 74%; }
.width-75 { width: 75%; }
.width-76 { width: 76%; }
.width-77 { width: 77%; }
.width-78 { width: 78%; }
.width-79 { width: 79%; }
.width-80 { width: 80%; }
.width-81 { width: 81%; }
.width-82 { width: 82%; }
.width-83 { width: 83%; }
.width-84 { width: 84%; }
.width-85 { width: 85%; }
.width-86 { width: 86%; }
.width-87 { width: 87%; }
.width-88 { width: 88%; }
.width-89 { width: 89%; }
.width-90 { width: 90%; }
.width-91 { width: 91%; }
.width-92 { width: 92%; }
.width-93 { width: 93%; }
.width-94 { width: 94%; }
.width-95 { width: 95%; }
.width-96 { width: 96%; }
.width-97 { width: 97%; }
.width-98 { width: 98%; }
.width-99 { width: 99%; }
.width-100 { width: 100%; }
