@charset "UTF-8";



.tab-pane p{
	text-align: justify;
	
}

.card-body{
	padding: 0rem !important;
}
.navigation_btn{
	margin: 1%;
}

 .b{
	background-color: #ebecf1;	
}
.a{
	background-color: #d6e0f0;
}

.nav-link{
	text-align: left;
}
.nav-tabs>.nav-item>.nav-link{
	padding: 11px 15px !important;
}
body { 
   font-family : "Lato", Arial, sans-serif !important;
   overflow-x: hidden;
}

input,select,table,div,label,span {
font-family : "Lato", Arial, sans-serif !important;
}


.control-label,.mandatory{
float: left;
font-weight: bold;
font-size: 1rem;
}
.control-label{
color: purple;
}

.panel-info {
	border-color: #bce8f1;
}
.panel {
	margin-bottom: 10px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-heading {
	background-color: #FFF !important;
	border-color: #bce8f1 !important;
	border-bottom: 2px solid #466BA2 !important;
	color: #1d5987;
}
.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 13px;
	color: inherit;
	font-weight: bold;
	display: contents;
}
.buttonEd {
	float: right;
	margin-top: -0.5rem;
}

.panel-info>.panel-heading {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div {
	display: block;
}


.olre-body .panel-info .panel-heading {
	background-color: #FFF !important;
	border-color: #bce8f1 !important;
	border-bottom: 2px solid #466BA2 !important;
}

.panel-info>.panel-heading {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.panel-heading {
	padding: 18px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.p-5 {
	padding: 5px;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

user agent stylesheet
div {
	display: block;
}

.panel-info {
	border-color: #bce8f1;
}

.rsqr-column{
 float : left;
}

.scrollclass::-webkit-scrollbar {
    width:7px;
}
.scrollclass::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius:5px;
}
.scrollclass::-webkit-scrollbar-thumb {
    border-radius:5px;
  /*   -webkit-box-shadow: inset 0 0 6px black;  */
	background-color: gray;
}
.scrollclass::-webkit-scrollbar-thumb:hover {
	-webkit-box-shadow: inset 0 0 6px black;
 	transition: 0.5s;
}


.trup{
	padding:6px 10px 6px 10px ;			
	border-radius: 5px;
	font-size: 14px;
	font-weight: 600;
}
.trdown{
	padding:0px 10px 5px 10px ;			
	border-bottom-left-radius : 5px; 
	border-bottom-right-radius: 5px;
	font-size: 14px;
	font-weight: 600;
}



p
{
	text-align: justify !important;
  	text-justify: inter-word;
}
p,td,th
{
  word-wrap: break-word;
  word-break: normal ;
}

.textunderline{
	text-decoration: underline;
}


#alldocstable {
	width : 70%;
	/* border : 1px solid black; */
	margin-top : 1.5rem;
	font-size: 15px;
	margin-left: 10rem;
}
#alldocstable th{
	border : 1px solid black;
	text-align: center;
	padding : 5px;
}
#alldocstable td{
	border : 1px solid black;
	text-align: left;
	padding : 3px;
}
#alldocstable td:first-child,#alldocstable td:nth-child(3){ 
	text-align: center; 
}

.input-group-text{
font-weight: bold;
}

label{
	/* font-weight: 800; */
	font-size: 16px;
	/* color:#07689f; */
} 

hr{
	margin-top: -2px;
	margin-bottom: 12px;
}

.form-group {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.cssideheading{
	font-size: 17px;
}

.cssideheadingdata{
	font-size: 16px !important;
	color: white;
}

.f-12{
	font-size: 12px;
}
.btn-det{
	text-align: left;
	min-width: 80%;
	max-width: 80%;
	background: darkcyan;
	border: darkcyan;
	white-space: normal;
}

.h-0-p{
	height: 0%;
}
.ml-minus-5{
	margin-left: -5%;
}

.f-right{
	float:right;
}
.fw-bold{
	font-weight: bold;
}
.fw-600{
	font-weight: 600px;	
}
.mar-8{
	margin: -8px 0px !important;	
}

.w-140{
	width: 140%;
	margin-left: -15rem;
}

.header-bg{
	background-color: #055C9D;
	text-align: left;
}

.mlr-2{
	margin-left: 2%;
	margin-right: 2%;
}
.btn-sub-doc{
	padding: 5px 8px;
	margin-right: 15em;
}
.btn-in-fo{
	padding: 0px 5px 0px 5px;
	background: blueviolet;
	border-color: blueviolet;
}

#csInfoContent{
	text-align: left;
	margin-left: -10%;
}

.w-110{
	width: 110%;
}

.col-crimson{
	color: crimson;
}
.col-fuchsia{
	color: fuchsia;
}
.col-blue{
	color: blue;
}

.card-mg{
	border: 1px solid rgba(0,0,0,.125);
	margin-left: 25%;
	max-height: 500px;
	overflow-y: auto;
}

.lab-code{
	font-weight: bold;
	margin-top: 1.5rem;
}

.span-dir{
	font-size: larger; 
	text-decoration: underline;
}
.span-font-l{
	font-size: large;
}

.tab-div{
	width: 96%;
	text-align: right;
	margin-right: 10px;
	line-height: 10px;
	margin-top: 30px;
}

.input-font{
	font-size: 15px;
}

.div-tab{
	width: 96%;
	text-align: left;
	margin-left: 10px;
	line-height: 10px;
	margin-top: 50px;
}

.div-margin{
	margin: 10px 0px 5px 25px; 
	padding:0px;
	border: 1px solid black;
	border-radius: 5px;
}

.bor-none{
	border:none;
}
.text-ul{
	text-decoration: underline;
}
.col-blue{
	color: blue;
}
.cs-td{
	border:none;
	width: 80%;
	overflow-wrap: anywhere;
	padding: 0px;
}

.btn-bg-1{
	background-color: #ff2d00;
}

.txt-cen{
	display: flex;
	justify-content: center; 
	align-items: center;
}
.div-jc{
	display: flex;
	justify-content: space-between;
}

.trup-bg-1{
	background: linear-gradient(to top, #3c96f7 10%, transparent 115%);
}

.trup-bg-2{
	background: linear-gradient(to top, #eb76c3 10%, transparent 115%);
}

.trup-bg-3{
	background: linear-gradient(to top, #09f21b 10%, transparent 115%);
}

.card-m-bg{
	border: 1px solid rgba(0,0,0,.125);
	margin-left: 25%;
}

.w-10{
	width: 10%;	
}

.btn-sum-doc-up{
	padding: 5px 8px;
}

.ml-minus-5rem{
	margin-left: -5rem;
}
.mt-2-2remP{
	margin-top: 2.2rem;
}
.ml-60{
	margin-left: 60px;
}
.div-lab{
	width: 90%;
	border-top-left-radius: 5px;
}











