@charset "UTF-8";



label{
	font-weight: bold;
	font-size: 13px;
}

.milestoneProgressTable {
	width: 100%;
	border-collapse: collapse;
	margin: 1rem;	
}
.milestoneProgressTable td{
	padding: 10px;
}

.card-head{
	background-color: #055C9D; 
	height: 50px;
}

.mb-20{
	margin-bottom: 20px;
}

.w-10{
	width: 10%;
}
.w-20{
	width: 20%;
}
.w-35{
	width: 35%;
}

.pro-bg{
	background-color:#cdd0cb !important;
	height: 1.4rem !important;
}

.pro-bground{
	background-color:#cdd0cb !important;
	color:black;
	font-weight: bold; 
}
