.headerColor {
	background-color: #055C9D;
}

.input-group-text {
	font-weight: bold;
}

label {
	font-weight: 800;
	font-size: 16px;
	color: #07689f;
}

hr {
	margin-top: -2px;
	margin-bottom: 12px;
}

.card b {
	font-size: 20px;
}

.mt-n5{
	margin-top: -5px;
}

.card-footer{
	background: linear-gradient(to right, #334d50, #cbcaa5);
	padding: 25px;
}

.hidden{
	display: none;
}