label{
font-weight: bold;
  font-size: 13px;
}
body{
background-color: #f2edfa;
overflow-x:hidden !important; 
}
h6{
	text-decoration: none !important;
}

th ,td {
	border: 1px solid black;
}

.mb-10px{
	margin-bottom: 10px;
}

.fs-17px{
	font-size: 17px;
} 
.mr-20px{
	margin-right: 20px;
}

.ml-10px{
	margin-left: 10px;
} 
.mr-15px{
	margin-right: 15px;
}

.margin0px-20px{
	margin :0px 20px;
}

.margin0px-10px{
	margin :0px 10px;
}

.width-180px{
	width: 180px;
}

.height-120px{
	height: 120px;
}

.bTagStyle{
	padding-left: 4rem; 
	font-size: 2rem;
}

.tblDailyStyle{
	border-collapse: collapse;
	max-width:88rem; 
}

.thDailyStyle{
	width : 8rem;
	text-align: center;
}

.width-80rem{
	 width: 80rem;
}

.tdPadding{
	padding: 15px 0px;
}

.pl-15px {
	padding-left: 15px;
}

.pt-5px {
	padding-top: 5px;
}

.pb-5px{
	padding-bottom: 5px;
}

.thTimeSlotStyle{
	min-width : 8rem;
	text-align: center;
}

.thFromDataToDate{
	min-width : 10rem; 
	max-width: 10rem;
}

.wordWrapStyle{
	word-wrap:break-word;
}

.verticalAlignStyle{
	vertical-align: top;
}

.padding-5px{
	padding: 5px;
}