label{
font-weight: bold;
  font-size: 13px;
}
body{
background-color: #f2edfa;
overflow-x:hidden !important; 
}
h6{
	text-decoration: none !important;
}
.table button{
	
	background-color: white !important;
	border: 3px solid #17a2b8;
	padding: .275rem .5rem !important;
}

.table button:hover {
	color: black !important;
	
}
#table tbody tr td {
	    padding: 4px 3px !important;
}

.fs-17px{
	font-size: 17px;
}

.projectDivBlock{
	display: block;
}

.projectDivNone{
	display: none;
}

.width-100{
	width: 100% !important;
}

.select2-container--default{
	width: 100% !important;
}

.select2-container--focus{
	width: 100% !important;
}