.input-group-text {
	font-weight: bold;
}

label {
	font-weight: 800;
	font-size: 16px;
	color: #07689f;
}

hr {
	margin-top: -2px;
	margin-bottom: 12px;
}

b {
	font-family: 'Lato', sans-serif;
}

h5, h6 {
	color: #145374;
}

.tdclass {
	padding-top: 5px;
	padding-bottom: 5px;
}

.card-header {
	background-color: #07689f;
	color: white;
}

.card {
	border-color: #07689f;
}

/* .external .select2{
	width:500px !important;
} */
.externalwithin .select2 {
	width: 300px !important;
}

.select2-container {
	width: 100% !important;
}

.mt-3px{
	margin-top: 3px;
}

.pl-10px{
	padding-left: 10px;
}

.colorWhite{
	color: white;
}

.pb-10px{
	padding-bottom: 10px;
}

.margin-1px{
	margin: 1px;
}

.pl-30px{
	padding-left: 30px;
}

.addh5Color{
	color:#145374;
}

.addmemTitleIdDisplay{
	display: none;
}

.mt-10px{
	margin-top: 10px;
}

.width-30per{
	width: 30%;
}

width-70per{
	width: 70%;
}

.thPaddingStyle5px{
	padding: 5px 5px 5px 5px;
}

.thClonePaddingStyle10px{
	padding: 10px 5px 0px 5px;
}

.padding0pxStyle{
	padding: 0px  0px  0px  0px;
}

.width-5per{
	width: 5%;
}

.modalContentWidth{
	width: 140%; 
	margin-left: -15%;
}

.fs-5px{
	font-size: 5px;
}

.fs-15px{
	font-size: 15px;
}

.textTransform{
	text-transform: capitalize;
}

.theadBgColor{
	background-color: #055C9D; 
	color: white;
}