.container-fluid {
	overflow-x: hidden;
}

.control-label {
	font-size: 24px;
	font-family: Muli;
	margin-left: 4px;
	color: black;
	text-transform: uppercase;
}

.card-body {
	background-color: #e2ebf0;
}

.card {
	border: 1px solid grey;
}

small {
	margin-top: 7px;
	color: green;
	font-weight: 500;
}

label {
	font-weight: 800;
	font-size: 16px;
	color: #07689f;
}

.card-body {
	background-color: #e2ebf0;
	padding-left: 30px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.card {
	border: 1px solid grey;
}

small {
	margin-top: 7px;
	color: green;
	font-weight: 500;
}

.fs-18{
	font-size: 18px;
}

.cs-brief{
	margin-top:25px;
    margin-left:15px;
}

.mt-15{
	margin-top: 15px;
}

.mt-25{
	margin-top: 25px;
}

.cs-detail{
	margin-bottom: 10px;
	margin-top: -5px;
}

.cs-col-12{
	margin-left: 0px;
	width:100%;
}

.disp-none{
	display: none;
}

.cs-row{
	margin-bottom: 10px;
	margin-top: -5px;
}






