.input-group-text {
	font-weight: bold;
}

label {
	font-weight: 800;
	font-size: 16px;
	color: #07689f;
}

hr {
	margin-top: -2px;
	margin-bottom: 12px;
}

b {
	font-family: 'Lato', sans-serif;
}

.cs-header{
	background-color: #055C9D;
}

.cs-table{
	border: 1px solid black !important; 
	background-color: white; 
	font-family: 'Montserrat', sans-serif;
}

.mb-n10{
	margin-bottom: -10px;
}

.cs-save{
	background-color: #AE4CCF;
	border-color: transparent;
}
