@charset "UTF-8";

label{
font-weight: bold;
  font-size: 13px;
}

.table .font{
	  font-family:'Muli', sans-serif !important;
	  font-style: normal;
	  font-size: 13px;
	  font-weight: 400 !important;
	 
}

.table button {
   /*  background-color: Transparent !important; */
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    text-align: left !important;
}
.table td{
	padding:5px !important;
}
 .resubmitted{
	color:green;
}

	.fa{
		font-size: 1.20rem;
	}
	
.datatable-dashv1-list table tbody tr td{
	padding: 8px 10px !important;
}

.table-project-n{
	color: #005086;
}

#table thead tr th{
	padding: 0px 0px !important;
}

#table tbody tr td{
	padding:2px 3px !important;
}


/* icon styles */

.cc-rockmenu {
	color:fff;
	padding:0px 5px;
	font-family: 'Lato',sans-serif;
}

.cc-rockmenu .rolling {
  display: inline-block;
  cursor:pointer;
  width: 34px;
  height: 30px;
  text-align:left;
  overflow: hidden;
  transition: all 0.3s ease-out;
  white-space: nowrap;
  
}
.cc-rockmenu .rolling:hover {
  width: 108px;
}
.cc-rockmenu .rolling .rolling_icon {
  float:left;
  z-index: 9;
  display: inline-block;
  width: 28px;
  height: 52px;
  box-sizing: border-box;
  margin: 0 5px 0 0;
}
.cc-rockmenu .rolling .rolling_icon:hover .rolling {
  width: 312px;
}

.cc-rockmenu .rolling i.fa {
    font-size: 20px;
    padding: 6px;
}
.cc-rockmenu .rolling span {
    display: block;
    font-weight: bold;
    padding: 2px 0;
    font-size: 14px;
    font-family: 'Muli',sans-serif;
}

.cc-rockmenu .rolling p {
	margin:0;
}

.width{
	width:270px !important;
}
.table tbody tr td  {
    vertical-align: middle;
    text-align: center;
    
    white-space: nowrap;
}

.trup{
	padding:6px 10px 6px 10px ;			
	border-radius: 5px;
	font-size: 14px;
	font-weight: 600;
}
.trdown{
	padding:0px 10px 5px 10px ;			
	border-bottom-left-radius : 5px; 
	border-bottom-right-radius: 5px;
	font-size: 14px;
	font-weight: 600;
}

.text-center{
	text-align: center; 
}

.fw-600{
	font-weight: 600;
}

.mt-03rem {
  margin-top: 0.3rem;
}

.icon-width-25{
	width: 25px;
}

.apr-flow{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
}

.pd-bg{
	background: linear-gradient(to top, #3c96f7 10%, transparent 115%);
}

.gd-bg{
	background: linear-gradient(to top, #eb76c3 10%, transparent 115%);
}

.ad-bg{
	background: linear-gradient(to top, #9b999a 10%, transparent 115%);
}

.dpnc-bg{
	background: linear-gradient(to top, #76ebcb 10%, transparent 115%);
}

.director-bg{
	background: linear-gradient(to top, #13f816 10%, transparent 115%);
}

.dg-bg{
	background: linear-gradient(to top, #00c7e4 10%, transparent 115%);
}

.ds-modal{
	width:137%;
	margin-left:-21%;
}

.ds-field{
	font-size: 1rem;
	font-weight: bold;
	color:#07689f
}

.doc-dist-modal{
	background: #055C9D;
	color:white;
}

.text-left{
  text-align: left;
}

.bs-example{
        margin: 20px;
    }
    .accordion .fa{
        margin-right: 0.5rem;
}

.note-editable {
  line-height: 1.0;
}
.panel-info {
    border-color: #bce8f1;
}
.panel {
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
 .panel-heading {
    background-color: #FFF !important;
    border-color: #bce8f1 !important;
    border-bottom: 2px solid #466BA2 !important;
    color: #1d5987;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    color: inherit;
    font-weight: bold;
}
.panel-info > .panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}

element.style {
}
.olre-body .panel-info .panel-heading {
    background-color: #FFF !important;
    border-color: #bce8f1 !important;
    border-bottom: 2px solid #466BA2 !important;
   
}
.panel-info > .panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.panel-info > .panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.panel-info > .panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.panel-info > .panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.panel-info > .panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.panel-info>.panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.panel-heading {
    padding: 3px 10px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-heading {
    padding: 3px 10px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-heading {
    padding: 3px 10px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-heading {
    padding: 3px 10px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-heading {
    padding: 3px 10px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.p-5 {
    padding: 5px;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}

.panel-info {
    border-color: #bce8f1;
}

.form-check{
	margin:0px 2%;
}

.fa-thumbs-up {
  font-family: FontAwesome, 'Quicksand', Quicksand, sans-serif;
}

.form-inline{

display: inline-block;
}


.form-check-input:checked ~ .form-check-label::before {
    color: #fff;
    border-color: #7B1FA2;
    background-color: red;
}
.inputx{
width:50%;
display:inline;
}
.fa-plus{
color:green;
}
.fa-minus{
color:red;
}
.fa-pencil{
color:blue;
}
.fa-times{
color:red;
}
input[type=checkbox] {
	accent-color: green;
}
.spansub{
    width: 49px;
    height: 24px;
    font-size: 10px;
    font-weight: bold;
    text-align: justify;
    display: inline-block;
}
#ModalReq::after{
  content: "Add Chapter";
  display: none;
  opacity:0;
}
#ModalReq:hover::after{
display:inline-block;
animation: fade-in 1s ease forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#scrollclass::-webkit-scrollbar {
	width: 7px;
}

#scrollclass::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}

#scrollclass::-webkit-scrollbar-thumb {
	border-radius: 5px; 
	/*   -webkit-box-shadow: inset 0 0 6px black;  */
	background-color: gray;
} 

#scrollclass::-webkit-scrollbar-thumb:hover {
	-webkit-box-shadow: inset 0 0 6px black;
	transition: 0.5s;
}

#scrollclass::-webkit-scrollbar {
	width: 7px;
}

#scrollclass::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}

#scrollclass::-webkit-scrollbar-thumb {
	border-radius: 5px;
	/*   -webkit-box-shadow: inset 0 0 6px black;  */
	background-color: gray;
}

#scrollclass::-webkit-scrollbar-thumb:hover {
	-webkit-box-shadow: inset 0 0 6px black;
	transition: 0.5s;
}
.modal-dialog-jump {
  animation: jumpIn 1.5s ease;
}

@keyframes jumpIn {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.editbtn
{
	background-color: green;
	width:auto; 
	height: 22px; 
	font-size:10px;
	font-weight: bold;
	text-align: justify; 
	margin-top : -9px;
	padding: 0px 3px 1px 3px; 
}


.hiddeninput
{
	width:50%;
	height: 25px;
	
	font-size: 1rem;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	padding: 2px;
	
}

 .btnx
{
	width:22px; 
	height: 22px;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	
}

.fa-lg
{
	margin-left: -5px;
	vertical-align: 0%;
	font-size: 1.4rem;
} 

.note-editing-area{

   height:320px;
}

.mt-01per {
  margin-top: -1%
}

.heading-bar{
	color: #585858;
	font-size:19px;
	font-weight:bold;
	text-align:left;
	float:left;
}

.heading-color{
	color:#31708f;
}

.back-btn-font-size{
	font-size:12px;
}

.card-content{
	border-color:#00DADA
	;margin-top: 2%;
}

.card-body-content{
	height:500px;overflow-y:scroll;
}

.mt10{
	margin-top: 10px;
}

.fs14{
	font-size:14px;
}

.icon-align{
	float: right !important;
	margin-top:-32px; 
}

.text-right {
  text-align: right;
}

.btn-org-color{
	color:orange;
}

.ml20{
	margin-left: 20px;
}

.dis-none{
	display: none;
}

.cancel-btn{
	color: red;
	display: none;
}

.fr-mt24{
	float: right !important;
	margin-top:-24px;
}

.fr-mt28{
	float: right !important;
	margin-top:-28px;
}

.chapter-name{
	margin-top:-20px;
	margin-left:35px;
}

.chapter-name-iput{
	width:150px;
	height:25px;
}

.sub{
	margin-top:-22px;
	margin-left: 200px;
}

.btn-pro{
	width:42px;
	height: 22px;
	font-size:10px;
	font-weight: bold;
	text-align: justify;
}

.mt20-ml55{
	margin-top:-20px;
	margin-left:55px;
}

.mt22-ml220{
	margin-top:-22px;
	margin-left: 220px;
}

.add-section-btn{
	color:#31708f;
}

.sn-editor{
	border-color:#00DADA;
	margin-top: 2%;
}

.editor-heading{
	font-weight:500;
	color: #31708f;
	display:none;
}

.editor-heading1{
	font-weight:500;color: #31708f;
}

.mt-08{
	margin-top: -8px
}

.ml0-w100{
	margin-left: 0px;
	width: 100%;
}

.height500{
	height: 500;
}

.appendices{
	border-color:#00DADA;
	margin-top: 2%;
}

.appendices-fw{
	font-weight:500;
	color: #31708f;
}

.attachment-label{
	margin-top:0px;
	margin-left:0px;font-weight:800;
	margin-bottom:0px;
	font-size: 20px;
	color:#07689f;
}

.attachments{
	font-family: 'Lato',sans-serif;
	font-size: large;
}

.w94-ml3{
	width: 94%;margin-left: 3%;
}

.trialResultsTbl{
	background-color: #055C9D; 
	color: white;
	text-align: center;
}

.appendix-label{
	width: 10%;
	padding: 0px 5px 0px 5px;
}

.documentName-label{
	width: 40%;
	padding: 0px 5px 0px 5px;
}

.attachment-label1{
	width: 25%;
	padding: 0px 5px 0px 5px;
}

.action-label{
	width: 10%;
	padding: 0px 5px 0px 5px;
}

.width-5{
	width: 5%;
}

.green-color{
	color: green;
	padding: 0px  0px  0px  0px;
}

.width20{
	width: 20%;
	padding: 10px 5px 0px 5px;
}

.width40{
	width: 40%;
	padding: 10px 5px 0px 5px;
}

.width25{
	width: 25%;
	padding: 10px 5px 0px 5px;
}

.width10{
	width: 10%;
	padding: 10px 5px 0px 5px;
}

.padding5px8px{
	padding: 5px 8px;
}

.width5per{
	width: 5%;
}

.red-color{
	color: red;
	padding: 0px  0px  0px  0px;
}

.print-tech-closure-btn{
	background-color: purple;
	border: none;
	color: white;
	font-weight: bold;
}

.ml-10per{
	margin-left:-10%
}

.modal-header-choose-chapter{
	background: #C4DDFF
}

.choose-chapter-color{
	color: #31708f;
}

.opacity1{
	opacity:1;
}

.justify-content-center{
	justify-content: center;
	align-items:center;
}

.border1px{
	border:1px solid black;
}

.border1px-bgcolor1{
	border:1px solid black;
	background-color:#055C9D;
}

.border1px-bgcolor2{
	border:1px solid black;
	width:10%;
	color:#FFFF
}

.border1px-bgcolor3{
	border:1px solid black;
	width:80%;
	color:#FFFF
}

.tick-btn-color{
	color:#008000;
	font-size:20px;
}