@charset "UTF-8";

label {
	font-weight: bold;
	font-size: 13px;
}

body {
	background-color: #f2edfa;
	overflow-x: hidden !important;
}

h6 {
	text-decoration: none !important;
}

.multiselect-container>li>a>label {
	padding: 4px 20px 3px 20px;
}

.cc-rockmenu {
	color: fff;
	padding: 0px 5px;
	font-family: 'Lato', sans-serif;
}

.cc-rockmenu .rolling {
	display: inline-block;
	cursor: pointer;
	width: 34px;
	height: 30px;
	text-align: left;
	overflow: hidden;
	transition: all 0.3s ease-out;
	white-space: nowrap;
}

.cc-rockmenu .rolling:hover {
	width: 108px;
}

.cc-rockmenu .rolling .rolling_icon {
	float: left;
	z-index: 9;
	display: inline-block;
	width: 28px;
	height: 52px;
	box-sizing: border-box;
	margin: 0 5px 0 0;
}

.cc-rockmenu .rolling .rolling_icon:hover .rolling {
	width: 312px;
}

.cc-rockmenu .rolling i.fa {
	font-size: 20px;
	padding: 6px;
}

.cc-rockmenu .rolling span {
	display: block;
	font-weight: bold;
	padding: 2px 0;
	font-size: 14px;
	font-family: 'Muli', sans-serif;
}

.cc-rockmenu .rolling p {
	margin: 0;
}

.width {
	width: 150px !important;
}

.td-width1 {
	width: 4% !important;
}

.td-modified {
	overflow-wrap: break-word !important;
	word-break: break-all !important;
	white-space: normal !important;
	max-width: 10% !important;
	min-width: 10% !important;
}

.custom-span {
	text-decoration: underline;
	font-size: 13px;
	color: #145374;
	cursor: pointer;
	font-weight: bolder;
}

.td-width12 {
	width: 6% !important;
}

.td-width20 {
	width: 20%;
}

.td-width8 {
	width: 6% !important;
}

.div-progress {
	background-color: #cdd0cb !important;
	height: 1.4rem !important;
}

.progressbar {
	width: 100%;
	background-color: #cdd0cb !important;
	color: black;
	font-weight: bold;
	padding-top: 20px;
}

.modal-height {
	height: 50px;
}