@charset "UTF-8";

label {
	font-weight: bold;
	font-size: 13px;
}

.table .font {
	font-family: 'Muli', sans-serif !important;
	font-style: normal;
	font-size: 13px;
	font-weight: 400 !important;
}



.table td {
	padding: 5px !important;
}

.resubmitted {
	color: green;
}

.fa {
	font-size: 1.20rem;
}

.datatable-dashv1-list table tbody tr td {
	padding: 8px 10px !important;
}

.table-project-n {
	color: #005086;
}

#table thead tr th {
	padding: 0px 0px !important;
}

#table tbody tr td {
	padding: 2px 3px !important;
}

/* icon styles */
.cc-rockmenu {
	color: fff;
	padding: 0px 5px;
	font-family: 'Lato', sans-serif;
}

.cc-rockmenu .rolling {
	display: inline-block;
	cursor: pointer;
	width: 34px;
	height: 30px;
	text-align: left;
	overflow: hidden;
	transition: all 0.3s ease-out;
	white-space: nowrap;
}

.cc-rockmenu .rolling:hover {
	width: 108px;
}

.cc-rockmenu .rolling .rolling_icon {
	float: left;
	z-index: 9;
	display: inline-block;
	width: 28px;
	height: 52px;
	box-sizing: border-box;
	margin: 0 5px 0 0;
}

.cc-rockmenu .rolling .rolling_icon:hover .rolling {
	width: 312px;
}

.cc-rockmenu .rolling i.fa {
	font-size: 20px;
	padding: 6px;
}

.cc-rockmenu .rolling span {
	display: block;
	font-weight: bold;
	padding: 2px 0;
	font-size: 14px;
	font-family: 'Muli', sans-serif;
}

.cc-rockmenu .rolling p {
	margin: 0;
}

.width {
	width: 270px !important;
}
.glow-text {
            color: green;
            text-shadow: 0 0 10px green, 0 0 25px green, 0 0 25px green;
            text-align: center;
        }
.glow-text-red {
            color: red;
            text-shadow: 0 0 10px red, 0 0 25px red, 0 0 25px red;
            text-align: center;
        }

        /* Customizing the modal animation */
        .modal-dialog {
            transform: translateY(-50px); /* Start with modal above view */
            transition: transform 0.3s ease-out; /* Smooth transition */
        }

        .modal.show .modal-dialog {
            transform: translateY(0); /* Bring modal to center */
        }
        .btn-custom {
            padding: 4px 16px; /* Same padding */
            height :30px;
            font-size: 14px; 
              /* Same font size */
        }
        .btn-back {
            background-color: #17a2b8;
            border-color: #17a2b8;
            color: white;
        }
        .btn-back:hover {
            background-color: #138496;
            border-color: #117a8b;
        }
        .form-info p {
            margin: 5px 0; /* Adjust this value as needed */
            color: red;
            font-size: 14px;
        }
        .w-15{
        	width:15px!important;
        }
        .c-red{
       		margin-bottom: 5px!important;
       		color: red!important;
        }
        .form-display{
			display: inline!important;
		}
		
		.w-610{
			width: 610px!important;
		}
		
		.v-align{
			vertical-align: middle!important;
		}
		.dis-none{
			display: none;
		}