@charset "UTF-8";



 	#wrapper{
		background-image: url("view/images/pfmsbg.png") !important;
		background-repeat: no-repeat;
		background-size: auto 100%;
		width: 100%;
	}
	
	.myschedule{
		background-image: url("view/images/myschedule.png") !important;
		background-repeat: no-repeat;
		background-position: left;
		background-position-x: 5px;
    	padding-left: 16px;
	}
	
	.gantt{
	background-image: url("view/images/gantt.png");
	background-repeat: no-repeat;
	background-position: left;
	background-position-x: 5px;
    padding-left: 16px;
}

.approval{
	margin-left: -0.75rem !important;
    margin-top: -.15rem !important;
}

.badge-today{
	font-size: 65% !important;
}

.btn1{
	border-top-left-radius: 5px !important;
	border-bottom-left-radius: 5px !important;
}

.btn2{
	
    border-left: 1px solid black;
}

.btn3{
	border-left: 1px solid black;
}
.btn4{
	margin: 0px 10px;
	color:green !important;
}
.meeting thead tr td{
	font-family: 'Muli',sans-serif;
	font-size: 16px !important
}


.overall-card{
	box-shadow: 5px 10px 11px -3px rgb(0 0 0 / 20%);
    border: none;
}

.yellow{
	color: #ffc107;
}

.red{
	color:#dc3545!important;
}

.green{
	color:#28a745!important;
}

.blue{
	color:#007bff!important;
}

.legend-shadow{
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.overall-card{
	background: #005C97;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color:white;
}


.overall-card h3{
	line-height: inherit;
}

@media  screen and (max-width: 1565px){
	
	.health-title{
		    margin-bottom: 12px !important;
    		font-size: 20px !important;
	}
}

/* Project Details Graph Css */

.highcharts-figure,
.highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.fixed-table tbody .custom-td{
	padding-left : 1rem !important;
}

.fixed-table tbody .custom-td .col-md-11, .fixed-table tbody .custom-td .col-md-10 {
	padding-left : 25px !important;
}

.overall-card .card-body{
	padding: 0.8rem 1rem !important;
}

.tableFixHead          { overflow: auto;  }
.tableFixHead thead td { position: sticky; top: 0; z-index: 1; }
.tableFixHead thead td {background-color: #1363DF}

.progress {
	height : 1.3rem !important;
	cursor:pointer;
}


.flex-container-new {
    display: flex;
}

.flex-child {
    flex: 1;
}  

.health-circle {
    display: inline-block;
    height: 22px;
    width: 22px;
    line-height: 22px;
    border-radius: 50px;
    color: white;
    text-align: center;
    font-size: 10px;
    font-weight: 800;
}

.modal-hr{
	margin: 0px 10px -10px 10px !important;
}

.modal-list{
	font-size: 14px;
	text-align: left;
	padding: 0px !important;
	margin-bottom: 5px;
}

.modal-list li{
	display: inline-block;
}

.modal-list li .modal-span{
	font-size: 2rem;
	padding: 0px 7px;
}

.modal-list li .modal-text{
	font-size: 1rem;
	vertical-align: text-bottom;
	font-family: Lato;
}


@media screen and (max-width:1380px){
	.tableprojectname{
		font-size: 12px !important;
	}
	.tableprojectnametd{
		width:13% !important;
	}

}

.changes-btn:hover{
	background-color: #A6D1E6 !important;
}

.changes-btn{
	background-color: rgba(255, 255, 255, 0.08888) !important;
	border: 1px solid rgba(0,0,0,.125);
	padding: 0px 7px !important;
}

.changes-font{
	font-size: 0.7rem !important;
}

.changes-badge{
	top:-8px !important;
}

/* DG Dashboard */


.circular-progress .progress {
  width: 110px;
  height: 110px !important ;
  background: none;
  position: relative;
  margin-bottom: 10px
}

.circular-progress .progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 15px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}

.circular-progress .progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.circular-progress .progress .progress-left {
  left: 0;
}

.circular-progress .progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 15px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.circular-progress .progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.circular-progress .progress .progress-right {
  right: 0;
}

.circular-progress .progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.circular-progress .progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}


.detailscard{
	background-color: rgba(0,0,0,.08) !important;
	border: none !important;
}

.detailscard .card-body{
	padding:0.5rem !important;	
}
	
.detailscard hr{
	margin: 10px !important;
}

.detailscard h5{
	margin: 0px !important;
}
.countstable , .normalfont{
	font-family: 'Lato';
	font-weight: 700;
}

.card-deck-table tr td{
	padding: 0px 0px !important;
}

.border-orange{
	border-color: #EE5007 !important;
}

@media screen and (min-width:1100px) and (max-width:1500px){
	.circular-progress .progress{
		width:75px !important;
		height:75px !important;
	} 
	
	.circular-progress .progress-value .h4{
		font-size: 16px;
	}
	
	.circular-progress .progress .progress-bar {
		border-width:7px;
	}
	
	.circular-progress .progress::after {
		border-width: 7px;	
	}
	
	.bigcount h1{
		font-size: 2rem !important;
	}
	
	.normalfont{
		font-size: 12px !important;
	}
	
	.bigcount h3{
		font-size: 20px !important;
	}
	
	.bigcount h4{
		font-size: 1.2rem !important;
	}
	
	.detailscard h5{
		font-size: 16px !important;
	}
	
	.bigcount p{
		margin-bottom: 0rem !important;
	}
	
	.countstable tbody {
		font-size: 14px !important;
	}
	
	
}

	.bigcount h1{
		margin-bottom: -7px;
	}
		
	.bigcount h4{
		margin-bottom: -4px;
	}
	
	.cashoutgotable, .financetable{
		margin-bottom: 0rem !important
	}
	
	.financetable tr td{
		font-size: 13px !important;
		font-weight: 600 !important;
	}
	
	.financetable tr th{
		font-size: 13px !important;
		padding: 0.5rem !important;
		text-align: left;
	}
	
	.cashoutgotable > tbody > tr >td, .financetable > tbody > tr >td{
		 border-top:1px solid grey !important;
	}
	
	.cashoutgotable > tbody > tr >th, .financetable > tbody > tr >th{
		 border-top:1px solid grey !important;
	}
	
	.cashoutgotable > thead > tr >th , .financetable > thead > tr >th{
		 border-top:1px solid transparent !important;
		 border-bottom:1px solid grey !important;
		 text-align: center;
	}

	.textfont{
		font-size: 12px !important;
	}
	
	.nil-bar{
		margin: 0px 10px !important;
	}
	
	.cashoutgotable tr {
		font-size: 13px !important;
		font-weight: 600 !important;
	}
	.cashoutgotable tr th{
		font-size: 13px !important;
		padding: 0.1rem !important;
		text-align: left;
	}
	
	.cashoutgotable thead{
		height: auto !important;
	}
	
	.bigcount p{
		margin-bottom: 0rem !important;
	}
	
	label{
	font-weight: bold;
	  font-size: 13px;
	}

	.cashoutgo .primary{
			background-color: #5C192F !important; 
		}
		
	.cashoutgo .bg-success{
			background-color:#466136 !important; 
		}
		
	.cashoutgo .bg-info{
			background-color:#591A69 !important;
			 
		}
	

.f-right{
	float: right!important;
}

.td-font{
	font-size: 14px!important;
}
.border-top{
	border-top:1px solid darkgrey!important;
}
.border-right{
	border-right:1px solid darkgrey!important;
}
.d-in-f{
	display: inline-flex!important;
}
.margin-x-y{
	margin:3px 10px !important;
}
.project-health-table{
	background-color: rgba(255, 255, 255, 0.39999) !important ;
	border-radius: 4px !important;  
}
.tab-fix{
 	table-layout: fixed!important;
 	overflow-y:auto!important;
 	overflow-x:hidden!important;
}
.table-style-white{
	background: #1363DF!important;
	color: white!important;
}
.span-font{
	font-size :15px!important;
	font-weight: bold!important;
}
.w-4{
	width:4%!important;
}
.w-15{
	width:15%!important;
}
.f-rem{
	color: purple!important;
	font-size: 1.3rem!important;
}
.dis-none{
	display: none;
}
