label {
	font-weight: bold;
	font-size: 13px;
}

.table .font {
	font-family: 'Muli', sans-serif !important;
	font-style: normal;
	font-size: 13px;
	font-weight: 400 !important;
}

.card{

box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 14px;
border-radius: 10px;
border: 0px;
}

.table button {
	background-color: Transparent !important;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	text-align: left !important;
}

.table td {
	padding: 5px !important;
}

.resubmitted {
	color: green;
}

.fa-long-arrow-right {
	font-size: 2.20rem;
	padding: 0px 5px;
}

.datatable-dashv1-list table tbody tr td {
	padding: 8px 10px !important;
}

.card-deck{
display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.pagin{
display: grid;
float:left;
  grid-template-columns: 1fr 1fr 1fr;
}

.table-project-n {
	color: #005086;
}

#table thead tr th {
	padding: 0px 0px !important;
}

#table tbody tr td {
	padding: 2px 3px !important;
}

/* icon styles */
.cc-rockmenu {
	color: fff;
	padding: 0px 5px;
	font-family: 'Lato', sans-serif;
	height: 28px;
}

.col-xl{
height: 28px;
}

.cc-rockmenu .rolling {
	display: inline-block;
	cursor: pointer;
	width: 34px;
	height: 28px;
	text-align: left;
	overflow: hidden;
	transition: all 0.3s ease-out;
	white-space: nowrap;
}

.cc-rockmenu .rolling:hover {
	width: 108px;
}

.cc-rockmenu .rolling .rolling_icon {
	float: left;
	z-index: 9;
	display: inline-block;
	width: 28px;
	height: 28px;
	box-sizing: border-box;
	margin: 0 5px 0 0;
}

.sameline{
display: inline-block;
}

.cc-rockmenu .rolling .rolling_icon:hover .rolling {
	width: 312px;
}

.cc-rockmenu .rolling i.fa {
	font-size: 20px;
	padding: 6px;
}


.cc-rockmenu .rolling span {
	display: block;
	font-weight: bold;
	padding: 2px 0;
	font-size: 14px;
	font-family: 'Muli', sans-serif;
}

.editable-click{
float: left;
z-index: 9;
white-space: nowrap;
height: 28px;
margin: 0 5px 0 0;
box-sizing: border-box;
display: inline-block;
/* border: none;
background: none; */
}

.editable-clicko{
z-index: 9;
white-space: nowrap;
height: 28px;
margin: 0 5px 0 0;
box-sizing: border-box;
display: inline-block;
background: none;border-style: none;
}

.cc-rockmenu .rolling p {
	margin: 0;
}

.width {
	width: 270px !important;
}

.label {
	border-radius: 3px;
	color: white;
	padding: 1px 2px;
}

.label-primary {
	background-color: #D62AD0; /* D62AD0 */
}

.label-warning {
	background-color: #5C33F6;
}

.label-info {
	background-color: #006400;
}

.label-success {
	background-color: #4B0082;
}

.btn-status {
  position: relative;
  z-index: 1; 
}

.btn-status:hover {
  transform: scale(1.05);
  z-index: 5;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.trup{
	padding:6px 10px 6px 10px ;			
	border-radius: 5px;
	font-size: 14px;
	font-weight: 600;
}
.trdown{
	padding:0px 10px 5px 10px ;			
	border-bottom-left-radius : 5px; 
	border-bottom-right-radius: 5px;
	font-size: 14px;
	font-weight: 600;
}

.modal-dialog-jump {
  animation: jumpIn 1.5s ease;
}

@keyframes jumpIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.custom-report{
	background-color: purple;
	border: none;
	color: white;
	font-weight: 600;
}

.custom-asp{
	background-color: #157ecd;
	border: none;
	color: white;
	font-weight: 600;
}

.cs-map-form{
	display: flex; 
	justify-content: center; 
	padding-bottom:10px;
	margin-top: 1rem;
}

.custom-project{
	display: flex; 
	justify-content: center;
	padding-bottom:10px;
	position: relative;
}

.cs-maplist-card{
	margin:10px !important; 
	margin-left: 20px !important;
	margin-right: 20px !important;
	min-width:450px !important;
}

.scale-15 {
  transform: scale(1.5) !important;
}

.custom-container{
	display: inline-flex;
	margin-top: 1%;
}

.custom-row{
	margin-top: -1%;
	margin-left: 1%;
}

.C000000 {
  color: #000000 !important;
}

.C2155CD {
  color: #2155CD !important;
}

.C1CD6CE {
  color: #1CD6CE !important;
}

.CD61C4E {
  color: #D61C4E !important;
}

.CE247E7 {
  color: #E247E7 !important;
}

.C157ECD {
  color: #157ECD !important;
}

.fw-600{
	font-weight: 600;
}

.cs-div-mb-pt{
	bottom: 0px;
	margin-bottom: 15px;
	padding-top: 10px;
}

.custom-view{
	padding: 0px !important;
	color: #67349e !important;
	font-size: 25px !important;
}

.custom-edit{
	padding: 0px !important;
	color: darkorange !important;
	font-size: 25px !important;
}

.custom-trash{
	padding: 0px !important;
	color: red !important;
	font-size: 25px !important;
}

.custom-undo{
	padding: 0px !important;
	color: #f00404 !important;
	font-size: 25px !important;
}

.custom-pagein{
	display: flex; 
	justify-content: center;
	padding-bottom:10px;
}

.cs-pt-pb{
	text-align: center; 
	padding-top: 10px; 
	padding-bottom: 15px;
}

.custom-trup{
	background: linear-gradient(to top, #3c96f7 10%, transparent 115%);
}

.custom-trup1{
	background: linear-gradient(to top, #eb76c3 10%, transparent 115%);
}

.fs-20{
	font-size: 20px;
}

.cs-excel-modal{
	max-width: 1800px;
}

.cs-excel-title{
	width: 600px;
	text-align: left;
}

.scale-15{
	transform: scale(1.5);
}

.custom-calender{
	background: #fff;
	text-align: center;
	font-weight: 500;
}

.w-p2{
	width: 2%;
}

.custom-check{
	text-align: left;
	margin: 8px;
	transform: scale(1.5);
}

.cs-tablprj{
	color:black !important;
	font-size: 13px;
}
