.width-0 { width: 0%; }
.width-1 { width: 1%; }
.width-2 { width: 2%; }
.width-3 { width: 3%; }
.width-4 { width: 4%; }
.width-5 { width: 5%; }
.width-6 { width: 6%; }
.width-7 { width: 7%; }
.width-8 { width: 8%; }
.width-9 { width: 9%; }
.width-10 { width: 10%; }
.width-11 { width: 11%; }
.width-12 { width: 12%; }
.width-13 { width: 13%; }
.width-14 { width: 14%; }
.width-15 { width: 15%; }
.width-16 { width: 16%; }
.width-17 { width: 17%; }
.width-18 { width: 18%; }
.width-19 { width: 19%; }
.width-20 { width: 20%; }
.width-21 { width: 21%; }
.width-22 { width: 22%; }
.width-23 { width: 23%; }
.width-24 { width: 24%; }
.width-25 { width: 25%; }
.width-26 { width: 26%; }
.width-27 { width: 27%; }
.width-28 { width: 28%; }
.width-29 { width: 29%; }
.width-30 { width: 30%; }
.width-31 { width: 31%; }
.width-32 { width: 32%; }
.width-33 { width: 33%; }
.width-34 { width: 34%; }
.width-35 { width: 35%; }
.width-36 { width: 36%; }
.width-37 { width: 37%; }
.width-38 { width: 38%; }
.width-39 { width: 39%; }
.width-40 { width: 40%; }
.width-41 { width: 41%; }
.width-42 { width: 42%; }
.width-43 { width: 43%; }
.width-44 { width: 44%; }
.width-45 { width: 45%; }
.width-46 { width: 46%; }
.width-47 { width: 47%; }
.width-48 { width: 48%; }
.width-49 { width: 49%; }
.width-50 { width: 50%; }
.width-51 { width: 51%; }
.width-52 { width: 52%; }
.width-53 { width: 53%; }
.width-54 { width: 54%; }
.width-55 { width: 55%; }
.width-56 { width: 56%; }
.width-57 { width: 57%; }
.width-58 { width: 58%; }
.width-59 { width: 59%; }
.width-60 { width: 60%; }
.width-61 { width: 61%; }
.width-62 { width: 62%; }
.width-63 { width: 63%; }
.width-64 { width: 64%; }
.width-65 { width: 65%; }
.width-66 { width: 66%; }
.width-67 { width: 67%; }
.width-68 { width: 68%; }
.width-69 { width: 69%; }
.width-70 { width: 70%; }
.width-71 { width: 71%; }
.width-72 { width: 72%; }
.width-73 { width: 73%; }
.width-74 { width: 74%; }
.width-75 { width: 75%; }
.width-76 { width: 76%; }
.width-77 { width: 77%; }
.width-78 { width: 78%; }
.width-79 { width: 79%; }
.width-80 { width: 80%; }
.width-81 { width: 81%; }
.width-82 { width: 82%; }
.width-83 { width: 83%; }
.width-84 { width: 84%; }
.width-85 { width: 85%; }
.width-86 { width: 86%; }
.width-87 { width: 87%; }
.width-88 { width: 88%; }
.width-89 { width: 89%; }
.width-90 { width: 90%; }
.width-91 { width: 91%; }
.width-92 { width: 92%; }
.width-93 { width: 93%; }
.width-94 { width: 94%; }
.width-95 { width: 95%; }
.width-96 { width: 96%; }
.width-97 { width: 97%; }
.width-98 { width: 98%; }
.width-99 { width: 99%; }
.width-100 { width: 100%; }


.bp-1{
	height:93vh !important;padding-top: 15px;
}

.bp-2{
	color: #145374 !important;font-family: 'Muli'!important
}
.bp-3{
	color: #145374 !important;
}

.bp-4{
	color: #4C9100 !important
}

.bp-5{
	font-size: 1rem;
}

.bp-6{
	text-align: center; margin-left: auto;margin-right:auto;border:0px;  font-size: 16px;
}

.bp-7{
	text-align: center; font-weight: 700;
}
.bp-8{
	width:120px;height: 120px;
}

.bp-9{
	text-align: center;width: 650px;
}

.bp-10{
	text-align: center;font-size: 18px;border:0px !important;
}

.bp-11{
	text-align: center; width: 50%;font-size: 18px;border:0px !important;
}
.bp-12{
	text-align: center; width: 50%;font-size: 18px ;padding-top: 5px;border:0px !important;
}

.bp-13{
	text-align: center; width: 650px;
}

.bp-14{
	margin-top: 10px
}

.bp-15{
	align: center;margin-bottom:5px; margin-left: auto;margin-right:auto;border:0px;  font-size: 16px;
}

.bp-16{
	text-align: center; font-weight: 700;font-size: 22px
}

.bp-17{
	text-align: center; font-weight: 700;font-size:15px
}

.bp-18{
	width: 45px;margin-left: 5px;margin-top: -2px;
}

.bp-19{
	padding-top:5px;
}
.bp-20{
	margin-left: -35px;
}
.bp-21{
	font-size: 0.8rem;margin-left: -43px;
}

.bp-22{
	padding-top:19px;
}

.bp-23
{
	font-size: 25px;
}
.bp-24{
	margin: 0.25rem 0rem;
}

.bp-25
{
	font-size:1.1rem;align: left; margin-top: 10px; width:96% !important; border-collapse: collapse;
}

.bp-26{
	width: 5px !important; padding: 5px; padding-left: 10px
}

.bp-27{
	width: 280px; padding: 5px; padding-left: 10px
}

.bp-28{
	width: 370px; padding: 5px; padding-left: 10px; font-weight: bold; color: #309322
}

.bp-29{
	float:right;background-color:#F86F03;color:white; padding:3px;
}

.bp-30{
	padding: 5px; padding-left: 10px
}

.bp-31{
	width: 150px; padding: 5px; padding-left: 10px
}

.bp-32{
	width: 370px; padding: 5px; padding-left: 10px
}

.bp-33{
	width: 20px; padding: 5px; padding-left: 10px
}
.bp-34{
	text-align: justify;
}

.bp-35{
	width: 30px; padding: 5px; padding-left: 10px
}

.bp-36{
	width: 10% !important;font-weight: bold
}

.bp-37{
	width: 210px; padding: 5px; padding-left: 10px
}

.bp-38{
	width: 200px;color:white; padding: 5px; padding-left: 10px ;
}

.bp-39{
	margin: 25px
}

.bp-40{
	margin-left: 15px;
}

.bp-41{
	border: 0; text-align: left;
}

.bp-42{
	color: #C84B31; cursor: pointer;
}

.bp-43{
	width:100%;height:70vh
}

.bp-44{
	width: 98%!important; height:78vh;
}

.bp-45{
	border: 0; text-align: center;
}

.bp-46{
	border: 0; padding-left: 1.5rem; text-align: left;
}

.bp-47{
	border: 0; padding-left: 1.5rem; text-align: center;
}

.bp-48{
	text-align: left; margin-top: 10px; border-collapse: collapse;
}

.bp-49{
	font-size: 12px; text-align: center
}

.bp-50{
	color:maroon ;font-weight:bolder;
}

.bp-51{
	float: right
}

.bp-52{
	text-align: left; margin-top: 10px; margin-left: 25px; max-width: 350px; border-collapse: collapse; float: left;
}

.bp-53{
	background-color: #D3D3D3; margin-right: 5px; float: right;
}

.bp-54{
	font-size: 1.5rem; color: #145374;
}

.bp-55{
	text-align: left; margin-top: 10px;  margin-left: 25px; border-collapse: collapse;
}

.bp-56{
	overflow-wrap: break-word !important; word-break: break-all !important; white-space: normal !important;
}

.bp-57{
	cursor: pointer
}


.bp-58{
	float: right; margin-top: 5px; text-transform: capitalize !important;
}


.bp-59{
	overflow-wrap: break-word !important; word-break: break-all !important; white-space: normal !important;
}

.bp-60{
	position: relative;width: 100%;padding-bottom: calc(8.5/ 11 * 100%);
}

.bp-61{
	width:75%;height:75vh;
}

.bp-62{
	 margin-left: 8px;margin-top:5px;font-size: 16px; border-collapse: collapse;border: 1px solid black
}

.bp-63{
	border: 1px solid black;width: 30px !important;
}

.bp-64{
	border: 1px solid black;max-width:90px;
}

.bp-65{
	border: 1px solid black;max-width: 150px;
}

.bp-66{
	border: 1px solid black;border-bottom:none;
}
.bp-67{
	border: 1px solid black;border-bottom:none;border-top:none;
}

.bp-68{
	text-align: left; margin-top: 10px; margin-bottom: 10px; margin-left: 25px; border-collapse:collapse;width: 1375px;font-size: 12px;
}

.bp-69{
	background-color: #F96E16;text-align: center;
}

.bp-70{
	text-align: left; margin-top: 10px; margin-bottom: 10px; margin-left: 25px;width:1370px !important;  border-collapse:collapse;font-size: 12px;
}

.bp-71{
	text-align: center; width: 200px !important;
}

.bp-72{
	text-align: center; width: 120px !important;
}

.bp-73{
	max-width:50px !important;text-align: center;
}

.bp-74{
	max-width:50px !important;text-align: center;
}

.bp-75{
	word-wrap: break-word;
}

.bp-76{
	position: relative;width: 100%;padding-bottom: calc(8.5 / 11 * 100%);
}

.bp-77{
	width: 98%;height:70vh;
}

.bp-78{
	padding: 0px 1.5rem;cursor:pointer
}

.bp-79{
	font-size: 20px;
}

.bp-80{
	height:70vh; margin-bottom: 5px
}

.bp-81{
	border: 0px solid black;padding-top: 50px;border-radius: 20px;position: relative;height: 93vh !important;
}

.bp-82{
	width: 100%; height: 100%;
}

.bp-83{
	position: absolute ;top: 40%;left: 34%;
}

.bp-84{
	width: 0%; padding-left: 20px;
}

.bp-85{
	width: 0%; padding-right: 20px;
}

.bp-86{
	color: #000000
}
.bp-87{
	background-color:  #000000;width: 35px;margin-left: 20px;
}

.bp-88{
	text-align: left; max-width: 15px;
}

.bp-89{
	text-align: left; max-width: 200px;
}

.bp-90{
	text-align: center; max-width: 50px;
}
.bp-91{
	text-align: center; max-width: 80px;
}

.bp-92{
	font-size: 5rem;
}

.bp-93{
	overflow-wrap: break-word !important; word-break: break-all !important; white-space: normal !important; max-width: 20% !important; min-width: 20% !important;
}

.bp-94{
	background-color: #cdd0cb !important; height: 1.4rem !important;
}

.bp-95{
	width: 100%; background-color: #cdd0cb !important; color: black; font-weight: bold;
}

.bp-96{
	background-color: #FFE0AD;
}


.bp-97{
	font-weight:700; color: #A30808;
}


.bp-98{
	width:20%;padding: 5px;border :0;font-weight: bold;
}

.bp-99{
	width:80%;padding: 5px;word-wrap:break-word;border :0;
}
.bp-100{
	padding: 5px;font-weight: bold;color:#A30808 ;border :0;
}

.bp-101{
	background-color: #055C9D; color: white;
}
.bp-102{
	max-width: 60% !important;
}

.bp-103{
	min-height:30% ;max-height: 93% !important;overflow-y: auto;
}

.bp-104{
	
	text-align: left; margin-top: 10px; margin-bottom: 10px; margin-left: 25px; width: 980px;  border-collapse:collapse;
}

.bp-105{
	max-width: 40px;
}

.bp-106{
	max-width: 230px;
}

.bp-107{
	max-width: 50px;
}

.bp-108{
	max-width: 70px;
}
.CFF0075 {
	background-color: #FF0075 !important;
	color: white;
}

.CC56824{
	background-color: #C56824 !important;
	color: white;
	
}

.C77D970 {
	background-color: #77D970 !important;
	color: black;
}

.C6D9886 {
	background-color: #6D9886 !important;
	color: black;
}

.C32502E {
	background-color: #32502E !important;
	color: black;
}

.C1DB9C3 {
	background-color: #1DB9C3 !important;
	color: black;
}

.C852747 {
	background-color: #852747 !important;
	color: white;
}

.CFA7D09 {
	background-color: #FA7D09 !important;
	color: white;
}

.C241663 {
	background-color: #241663 !important;
	color: white;
}

.C892CDC {
	background-color: #892CDC !important;
	color: white;
}

.CA2416B {
	background-color: #A2416B !important;
	color: white;
}

.CFFD700 {
	background-color: #FFD700 !important;
	color: black;
}

.C230338 {
	background-color: #230338 !important;
	color: white;
}

.C313131 {
	background-color: #313131 !important;
	color: white;
}

.C39311D {
	background-color: #39311D !important;
	color: white;
}


.width15{
	width: 15px !important; text-align: center
}

.width20{
	width: 20px !important;
}

.width315{
	width: 315px !important;
}

.width100{
	width: 100px !important;
}
.width200{
	width: 200px !important;
}

.width70{
	width: 70px !important;
}

.width80{
	width: 80px;
}

.width205{
	width: 205px;
}

.width95{
	width: 95px;
}

.width280{
	width: 280px;
}
.width30{
	width:30px;
}

.width250{
	width: 250px !important;
}

.width140{
	width: 140px;
}

.width350{
	width:350px;
}
.width450{
	width:450px
}
.width150{
	width:150px
}
.width60{
	width:60px
}

.width50{
	width: 50px;
}

.width310{
	width: 310px;
}

.width425{
	width: 425px;
}

.width100{
	width: 100px;
}

.width160{
width:160px;
}

.width295{
	width: 295px;
}

.f13r{
	font-size: 1.3rem;
}

.width110{
	width: 110px;
}

.cl-1{
	color: #3D60FF;
}

.cl-2{
	color: transparent;
}

.widthM310{
	max-width: 310px;
}
.widthM50{
	max-width:50px;
}

.width40{
	width:40px;
}

.width280{
	width: 280px;
}

.width155{
	width: 155px;
}

.width35{
	width: 35px
}

.width180{
	width: 180px 
}

.width265{
	width: 265px;
}
.width220{
	width: 220px;
}


.bg-2{
	background-color: #C4DDFF
}



label{
font-weight: bold;
  font-size: 13px;
}

h6{
	text-decoration: none !important;
}

 #containers {
    width: 100%;
    height: 50vh;
    margin: 0;
    padding: 0;
}

.anychart-credits {
   display: none;
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mar-1{
	margin:0px 0px 10px  10px;
}

.span-bg1{
	background-color: #455a64;;  padding: 0px 15px; border-radius: 3px;
}

.span-bg2{
	background-color: #059212;  padding: 0px 15px;border-radius: 3px;
}

.span-bg3{
	background-color: #F5A623; opacity: 0.5; padding: 0px 15px;border-radius: 3px;
}
.mar-2
{
	margin:0px 0px 10px  15px;
}

.mar3{
	font-weight:600;font-size:10pt
}


.bpbg{
	background-color: #F9F2DF66;
}