@charset "ISO-8859-1";

.table-responsive{
  overflow-x: hidden;
}

.input-group-text{
font-weight: bold;
}

label{
	font-weight: 800;
	font-size: 16px;
	color:#07689f;
} 

hr{
	margin-top: -2px;
	margin-bottom: 12px;
}

b{
	font-family: 'Lato',sans-serif;
}

#myTable thead tr{
	background-color: #055C9D;
    color: white;
}

.backbtn{
	margin-left: 4.2rem;
}

.auditnavbar{
	background-color: #f4f5f0;
}

.divisonLabel{
	margin-left: 450px; margin-right: 10px;font-weight: 800
}

.mandate{
	color: red;
}

.selectDiv{
	margin-left: 12px;
}

.revokeMainDiv{
	margin-top: 10px;
}

.subdiv{
	margin-top: 0px;
}

.rowdiv{
	margin-top: 20px;
}

.theader{
	text-align: center;
}

.trtable{
	background-color: white;color: black
}

.selecttd{
	width:5%;
}

.tdData{
	text-align: left;
}

.btnDiv{
	text-align: center;
}

.topdIV{
	margin-top: 0px;
}

.rowDiv{
	margin-top: 20px;
}

#LogInId{
	margin-left: 12px;
}

.btnClass{
	text-align: center;
}